<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @calendar.subject %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @calendar.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @calendar.end_time %>
</p>

<p>
  <strong>User:</strong>
  <%= @calendar.user_id %>
</p>

<%= link_to 'Edit', edit_calendar_path(@calendar) %> |
<%= link_to 'Back', calendars_path %>
