<p id="notice"><%= notice %></p>

<p>
  <strong>Pipeline:</strong>
  <%= @item.pipeline_id %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @item.subject %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
