<p id="notice"><%= notice %></p>

<p>
  <strong>Office:</strong>
  <%= @appointment.office_id %>
</p>

<p>
  <strong>Citizen:</strong>
  <%= @appointment.citizen_id %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @appointment.subject %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @appointment.venue %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
